@tailwind base;
@tailwind utilities;
@tailwind components; 


@layer components {
    .transition-smooth {
      transition: all 300ms ease-in-out;
    }
  }
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
  
  @keyframes scroll {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
  }
  
  .animate-blob {
    animation: blob 7s infinite;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  
  .animate-scroll {
    animation: scroll 1.5s infinite;
  }
  
  /* Add these styles for the video player */
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 1rem;
  }

  .react-player video {
    object-fit: cover;
  }
  